build/
.gradle
app/.cxx/
.DS_Store
app/.DS_Store
armsx2_release.jks
armsx2_keystore.properties
EEJitA64.cpp
EEJitA64.h
macos
app/src/main/cpp/bin
log.txt
node_modules/
bun.lockb
.vscode/
app/src/main/jniLibs/
app/libs/discord_partner_sdk.aar
app/src/main/assets/discord_creds.env
.project
.settings/
.idea/
app/src/main/cpp/3rdparty/rcheevos/.build
app/src/main/cpp/3rdparty/discord_social_sdk/cdiscord.h
app/src/main/cpp/3rdparty/discord_social_sdk/discordpp.h
.DS_Store
app/.DS_Store
app/src/.DS_Store
app/src/main/.DS_Store
